@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf3ed;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Cart position adjustments */
@media (min-width: 768px) {
  .cart-top {
    top: 4.8rem; /* Adjust this value according to your navbar height (4.4rem or 4.8rem) */
    height: calc(100vh - 4.8rem); /* Full height minus navbar height */
    z-index: 50; /* Ensure cart stays above navbar */
  }
}

@media (max-width: 767px) {
  .cart-top {
    top: auto; /* Adjust the top on mobile */
    height: calc(100vh - 3rem); /* Adjust height for mobile */
    z-index: 50; /* Ensure cart stays above the navbar */
  }
}

/* Flexbox layout to fill the entire viewport height */
.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Cart content fills remaining space and scrolls if needed */
.cart-content {
  flex-grow: 1;
  overflow-y: auto;
}

body {
  padding-top: 3rem; /* Ensure there's enough space between the navbar and the cart modal */
}

/* Hide top navbar on mobile */
@media (max-width: 767px) {
  .navbar-top {
    display: none;
  }
}

/* Hide bottom navbar on large devices */
@media (min-width: 768px) {
  .navbar-bottom {
    display: none;
  }
}

/* S-shaped curve for the background */
.s-curve-image {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* Hide scrollbar for both mobile and desktop */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}
